@tailwind base;
@tailwind components;
@tailwind utilities;



* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      
}
.forma{
      color:white
}
.form{
      display: grid;
      gap:1rem;
      max-width: 32ch;
      border: 2px solid blue;
      border-radius: 1rem;
      padding: 1rem;
      text-align: center;
}
.form label{
      font-weight: bold;
      font-size: 2rem;
      color:white;
      
}
input{
      font:inherit;
}

body {
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr auto;
      background: linear-gradient(-45deg, #e73cbc, #237cd5, #e73cbc,#237cd5) ;
      background-size: 400% 400%;
      animation: gradient 16s ease infinite;
}



@keyframes gradient {
      0% {
            background-position: 0% 0%;
      }

      50% {
            background-position: 50% 50%;
      }

      100% {
            background-position: 100% 100%;
      }


}

#navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: rgb(33, 197, 94);
      /* opacity: 1; */
      border-radius: 0 0 30px 30px;
      color: white;
      /* text-align: center; */
      z-index: 10;

      /*Define a height for NavBar*/
      transition: 0.5s;
      /*and a transition time for a smooth appearence*/

}

.scroll-animation {
      opacity: 0;
      transform: translateY(80px);
      /* Déplace la div vers le bas de 50px (ou la valeur que vous préférez) */
      transition: opacity 0.8s ease, transform 2s ease;
      /* Animation de 1 seconde avec une transition fluide */
}

.scroll-animation.appear {
      opacity: 1;
      transform: translateY(0);
}

.scroll-animation.disappear {
      opacity: 0;
      transform: translateY(200px);
      transition: opacity 0.8s ease, transform 2s ease;
}
