---
import MainLayout from '@layouts/MainLayout.astro';
import maman from '../assets/maman.png';
import elomam from '../assets/elomam.png';
import deuxnou from '../assets/deuxnou.png';
---

<MainLayout title="A propos de moi">
      <div class="flex justify-around">
            <h1
                  class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20 mb-6 mr-2">
                  A propos de moi
            </h1>
      </div>
      <section class="flex justify-around">
            <div
                  role="status"
                  class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2">
                  <div
                        class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
                        <img
                              src={maman}
                              class="h-auto rounded-3xl"
                              alt="une famille nounours"
                        />
                  </div>
                  <div class="w-full">
                        <div class="">
                              <p class="text-white text-lg">
                                    Une fois, dans une paisible contrée,
                                    naquirent deux petits rayons de soleil. Deux
                                    adorables jumeaux, pleins de vie et de
                                    sourires contagieux. Je décidai alors d'être
                                    leur assistante maternelle à domicile, pour
                                    les accompagner de près dans leur
                                    épanouissement. Avec passion et
                                    détermination, je me lançai dans cette
                                    nouvelle aventure. La maison devint un
                                    terrain de jeu enchanté, où rires et câlins
                                    résonnaient.
                              </p>
                        </div>
                  </div>
            </div>
      </section>
      <section class="flex justify-around">
            <div
                  role="status"
                  class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2">
                  <div
                        class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
                        <img
                              src={elomam}
                              class="h-auto rounded-3xl mt-4"
                              alt="une maman et sa fille"
                        />
                  </div>
                  <div class="w-full">
                        <div class="">
                              <p class="text-white text-lg">
                                    Je me mis en tête de devenir une assistante
                                    maternelle à domicile. Je plongeai tête la
                                    première dans le monde de l'apprentissage.
                                    Je m'enveloppai de livres sur l'éducation
                                    bienveillante et la psychologie enfantine.
                                    Je pris des notes, annotai, et fis des
                                    recherches sans relâche. La maison se
                                    transforma alors en un vaste terrain de jeu,
                                    où chaque recoin était pensé pour stimuler
                                    la créativité et l'épanouissement des
                                    jumeaux.
                              </p>
                        </div>
                  </div>
            </div>
      </section>
      <section class="flex justify-around">
            <div
                  role="status"
                  class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2">
                  <div
                        class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
                        <img
                              src={deuxnou}
                              class="h-auto rounded-3xl mt-4"
                              alt="deux teady bears"
                        />
                  </div>
                  <div class="w-full">
                        <div class="">
                              <p class="text-white text-lg">
                                    Aujourd'hui, entourée de ces deux
                                    merveilles, je suis fière d'avoir pris cette
                                    décision audacieuse. Je suis devenue bien
                                    plus qu'une assistante maternelle à
                                    domicile. Je suis devenue une superhéroïne,
                                    capable de jongler avec les rires et les
                                    pleurs, les petits tracas et les grands
                                    bonheurs.
                              </p>
                        </div>
                  </div>
            </div>
      </section>
</MainLayout>
