---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="A propos">
  <!-- Balises SEO spécifiques à la page -->
  <title>
    Assistante Maternelle à domicile | assmattoury.netlify.app/about/
  </title>
  <meta
    name="description"
    content="Découvrez l'histoire d'une assistante maternelle à domicile passionnée qui accompagne les enfants dans leur épanouissement. Une aventure remplie de jeux, de rires et de câlins. En savoir plus sur son engagement et son approche éducative bienveillante."
  />

  <!-- Autres balises SEO génériques ou communes à toutes les pages -->
  <meta
    property="og:title"
    content="Assistante maternelle à domicile | assmattoury.netlify.app/about/"
  />
  <meta
    property="og:description"
    content="Découvrez l'histoire d'une assistante maternelle à domicile passionnée qui accompagne les enfants dans leur épanouissement. Une aventure remplie de jeux, de rires et de câlins. En savoir plus sur son engagement et son approche éducative bienveillante."
  />
  <meta property="og:url" content="https://assmattoury.netlify.app/about/" />
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20 scroll-animation">
        A propos
      </h1>
    </div>
  </section>
  <article class="format lg:format-lg flex flex-col mx-auto px-2">
    <section
      class="format lg:format-lg flex flex-col mx-auto px-2 scroll-animation">
      <div
        role="status"
        class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2 scroll-animation">
        <div
          class="flex items-center justify-center w-auto h-auto rounded sm:w-96 scroll-animation">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688440085/assmattoury/maman_nlpdv1.png"
            class="h-auto rounded-3xl"
            alt="une famille nounours"
          />
        </div>
        <div class="w-full scroll-animation">
          <div>
            <p class="text-white text-lg scroll-animation">
              Jadis, dans une lointaine contrée, naquirent deux petits rayons de
              soleil, des jumeaux adorables aux sourires contagieux. Etre
              devenue Maman est à mes yeux le métier le plus important de tous.
              Avec passion et détermination, je me lançai dans cette nouvelle
              aventure. La maison devint un terrain de jeux enchantés, où rires
              et câlins résonnaient.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="format lg:format-lg flex flex-col mx-auto px-2 scroll-animation">
      <div
        role="status"
        class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2 scroll-animation">
        <div
          class="flex items-center justify-center w-auto h-auto rounded sm:w-96 scroll-animation">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/r_15/v1688440419/assmattoury/wonder_1678275859590_q2zv6n.jpg"
            class="h-auto rounded-3xl mt-4 scroll-animation"
            alt="une maman et sa fille"
          />
        </div>
        <div class="w-full scroll-animation">
          <div>
            <p class="text-white text-lg scroll-animation">
              Je plongeais tête la première dans le monde de l'apprentissage. Je
              m'entourais de livres sur l'éducation bienveillante et la
              psychologie de l'enfant. La maison se transforma alors en un vaste
              terrain de jeu, où chaque recoin était pensé pour stimuler la
              créativité et l'épanouissement de mes enfants.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="format lg:format-lg flex flex-col mx-auto px-2 scroll-animation">
      <div
        role="status"
        class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2 scroll-animation">
        <div
          class="flex items-center justify-center w-auto h-auto rounded sm:w-96 scroll-animation">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688440417/assmattoury/wonder_1677434607589_ixde17.jpg"
            class="h-auto rounded-3xl mt-4 scroll-animation"
            alt="deux teady bears"
          />
        </div>
        <div class="w-full scroll-animation">
          <div>
            <p class="text-white text-lg scroll-animation">
              Aujourd'hui, entourée de mes deux merveilles, je suis fière
              d'avoir pris cette décision audacieuse. Je suis devenue bien plus
              qu'une Assistante Maternelle à domicile. Je suis une superhéroïne,
              capable de jongler avec les rires et les pleurs, les petits tracas
              et les grands bonheurs.
            </p>
          </div>
        </div>
      </div>
      <a href="/activity" class="text-white no-underline text-right"
        ><button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
          Voyage vers les activités diverses et variées...

          <svg
            aria-hidden="true"
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </button></a
      >
    </section>
  </article>
</MainLayout>
