---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="A propos de moi">
      <h1
            class="text-4xl lg:text-3xl md:text-2xl sm:text-1xl font-bold filter drop-shadow-sm text-slate-200 text-center">
            A propose de moi
      </h1>
</MainLayout>
