---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Activités">
   <section
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
      <div class="flex justify-around">
         <h1
            class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
            Les activités
         </h1>
      </div>
   </section>
   <article class="format lg:format-lg flex flex-col mx-auto px-2">
      <h1 class="text-white text-center">
         Nous ferons toutes sortes de manipulations et de jeux
      </h1>

      <h2 class="text-yellow-300">Jeux sensoriels:</h2><p class="text-white">
         Je prépare des bacs remplis de matériaux sensoriels comme du sable, des
         grains de riz, de l'eau colorée, de la pâte à modeler ou des boules de
         coton.
      </p>

      <h3 class="text-green-300 text-center">
         Les enfants explorent ainsi ces textures avec leurs mains.
      </h3>
      <h2 class="text-yellow-300">Jeux d'eau :</h2><p class="text-white">
         Je remplie une petite piscine gonflable ou un grand récipient d'eau peu
         profonde et laissez les enfants jouer avec des jouets flottants.
      </p>

      <h3 class="text-green-300 text-center">
         Activité rafraîchissante pendant les journées chaudes.
      </h3>
      <!-- /////////////// -->
      <h2 class="text-yellow-300">Activités artistiques:</h2><p
         class="text-white">
         Je propose aux enfants de peindre avec leurs mains ou avec des pinceaux
         sur du papier. Leur donner des crayons de couleur et du papier pour
         dessiner.
      </p>
      <h3 class="text-green-300 text-center">
         Premiers gribouillis de l'enfant qui amèneront vers une écriture
         composée de lettres et de chiffres, quelques années plus tard.
      </h3>
      <!-- //////////////// -->
      <h2 class="text-yellow-300">Jeux de construction:</h2>
      <p class="text-white">
         Les enfants aiment empiler et construire. Leur donner des blocs ou des
         jouets de construction adaptés à leur âge et laissez-les expérimenter
         et créer leurs propres structures.
      </p>
      <h3 class="text-green-300 text-center">
         L’enfant prend l’initiative de choisir la construction qu’il fera,
         motricité.
      </h3>
      <!-- //////////////// -->
      <h2 class="text-yellow-300">Lecture de livres:</h2>
      <p class="text-white">
         Je lis des histoires adaptées à leur âge. Des livres avec de grandes
         images colorées et je les encouragez à interagir en pointant du doigt
         et en nommant les objets.
      </p>
      <h3 class="text-green-300 text-center">
         La lecture comme un moment agréable, serein, dans l’esprit du
         tout-petit.
      </h3>
      <!-- //////////////// -->
      <h2 class="text-yellow-300">Chansons et comptines:</h2>
      <p class="text-white">
         Je chante des chansons et récitez des comptines avec les enfants.
         J'utilisez des gestes et des mouvements pour rendre l'activité plus
         interactive et amusante.
      </p>
      <h3 class="text-green-300 text-center">
         Idéal pour le développement du language, de la mémoire et une ouverture
         sur le monde.
      </h3>
      <!-- //////////////// -->
      <h2 class="text-yellow-300">Parcours d'obstacles:</h2>
      <p class="text-white">
         Petit parcours d'obstacles à l'intérieur ou à l'extérieur en utilisant
         des coussins, des tunnels en tissu, des cerceaux et des chaises.
      </p>
      <h3 class="text-green-300 text-center">
         Les enfants rampent, sautent et grimpent pour développer leur motricité
      </h3>
      <!-- //////////////// -->
      <h2 class="text-yellow-300">Jeux de manipulation:</h2>
      <p class="text-white">
         Des puzzles simples, des jeux d'encastrement ou des boîtes à formes.
      </p>
      <h3 class="text-green-300 text-center">
         Cela aide les enfants à développer leur coordination œil-main et leurs
         compétences cognitives
      </h3>
      <!-- //////////////// -->
      <button
         type="button"
         class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
         <a href="/days" class="text-white no-underline"
            >Passons maintenant en revue une journée "type"</a
         >
         <svg
            aria-hidden="true"
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
               fill-rule="evenodd"
               d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
               clip-rule="evenodd"></path></svg
         >
      </button>
   </article>
</MainLayout>
