---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Activités">
  <meta
    name="description"
    content="Activités pour enfants - lecture de livres et jeux de société. Favorisez le développement du langage et de l'imagination chez les enfants."
  />
  <title>Activités pour enfants - Lecture de livres et jeux de société</title>
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
        Les activités
      </h1>
    </div>
  </section>
  <article class="format lg:format-lg flex flex-col mx-auto px-2">
    <h2 class="text-white text-center scroll-animation">
      Nous ferons toutes sortes de manipulations et de jeux
    </h2>
    <h2 class="text-yellow-300 scroll-animation">Jeux sensoriels :</h2>
    <p class="text-white scroll-animation">
      Je prépare des bacs remplis de matériaux sensoriels comme du sable, des
      grains de riz, de l'eau colorée, de la pâte à modeler ou des boules de
      coton.
    </p>

    <h3 class="text-green-300 text-center scroll-animation">
      Les enfants explorent ainsi ces textures avec leurs mains.
    </h3>
    <!-- //////////////////////////////////////////////////// -->
    <div
      id="custom-controls-gallery"
      class="relative w-full z-0 scroll-animation"
      data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454073/assmattoury/activity/wonder_1688446506385_bri6uy.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-1000 ease-in-out"
          data-carousel-item="active">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454074/assmattoury/activity/wonder_1688446593453_dujiic.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454075/assmattoury/activity/wonder_1688446608308_egqf9k.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454073/assmattoury/activity/wonder_1688446346955_a3qpkz.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 5 -->
      </div>
    </div>
    <div class="h-4 rounded-xl bg-green-500 mt-2 mb-9 scroll-animation"></div>
    <!-- //////////////////// -->

    <h2 class="text-yellow-300 scroll-animation">Jeux d'eau :</h2><p
      class="text-white scroll-animation">
      Je remplie une petite piscine gonflable ou un grand récipient d'eau peu
      profonde et laisse les enfants jouer avec des jouets flottants.
    </p>

    <h3 class="text-green-300 text-center scroll-animation">
      Activités rafraîchissantes pendant les journées chaudes.
    </h3>
    <!-- ///////////////////// -->
    <div
      id="custom-controls-gallery"
      class="relative w-full z-0 scroll-animation"
      data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454073/assmattoury/activity/wonder_1688446167557_jfgzgy.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-1000 ease-in-out"
          data-carousel-item="active">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454072/assmattoury/activity/wonder_1688446055491_emqi1h.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454073/assmattoury/activity/wonder_1688446110774_iqqght.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454073/assmattoury/activity/wonder_1688446068048_k3nxxp.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454074/assmattoury/activity/wonder_1688446197889_qiyjhe.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="h-4 rounded-xl bg-green-500 mt-2 mb-9 scroll-animation"></div>
    <!-- /////////////// -->
    <h2 class="text-yellow-300 scroll-animation">Activités artistiques :</h2><p
      class="text-white scroll-animation">
      Je propose aux enfants de peindre avec leurs mains ou avec des pinceaux
      sur du papier. Leur donner des crayons de couleur et du papier pour
      dessiner.
    </p>
    <h3 class="text-green-300 text-center scroll-animation">
      Premiers gribouillis de l'enfant qui amèneront vers une écriture composée
      de lettres et de chiffres, quelques années plus tard.
    </h3>
    <!-- ///////////////////// -->
    <div
      id="custom-controls-gallery"
      class="relative w-full z-0 scroll-animation"
      data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454073/assmattoury/activity/wonder_1688447468048_ir4lp9.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-1000 ease-in-out"
          data-carousel-item="active">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454074/assmattoury/activity/wonder_1688447478988_cbci5v.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454074/assmattoury/activity/wonder_1688447560281_we300e.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454074/assmattoury/activity/wonder_1688447674600_bdauzm.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454074/assmattoury/activity/wonder_1688447595467_ddz6o0.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="h-4 rounded-xl bg-green-500 mt-2 mb-9 scroll-animation"></div>
    <!-- /////////////// -->
    <h2 class="text-yellow-300 scroll-animation">Jeux de construction :</h2>
    <p class="text-white scroll-animation">
      Les enfants aiment empiler et construire. Leur donner des blocs ou des
      jouets de construction adaptés à leur âge et laisse expérimenter et créer
      leurs propres structures.
    </p>
    <h3 class="text-green-300 text-center scroll-animation">
      L’enfant prend l’initiative de choisir la construction qu’il fera.
    </h3>
    <!-- ///////////////////// -->
    <div
      id="custom-controls-gallery"
      class="relative w-full z-0 scroll-animation"
      data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454074/assmattoury/activity/wonder_1688447806495_jioobm.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-1000 ease-in-out"
          data-carousel-item="active">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454074/assmattoury/activity/wonder_1688446593453_dujiic.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454073/assmattoury/activity/wonder_1688446329493_hguxmu.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454073/assmattoury/activity/wonder_1688446312529_gcjoxu.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448852314_eaivwu.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="h-4 rounded-xl bg-green-500 mt-2 mb-9 scroll-animation"></div>

    <!-- /////////////// -->
    <h2 class="text-yellow-300 scroll-animation">Lecture de livres :</h2>
    <p class="text-white scroll-animation">
      Je lis des histoires adaptées à leur âge. Des livres avec de grandes
      images colorées et je les encouragez à interagir en pointant du doigt et
      en nommant les objets.
    </p>
    <h3 class="text-green-300 text-center scroll-animation">
      La lecture comme un moment agréable, serein, dans l’esprit du tout-petit.
    </h3>
    <!-- ///////////////////// -->
    <div
      id="custom-controls-gallery"
      class="relative w-full z-0 scroll-animation"
      data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454075/assmattoury/activity/wonder_1688447895215_xqdhfh.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-1000 ease-in-out"
          data-carousel-item="active">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454075/assmattoury/activity/wonder_1688447921055_edje3i.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454075/assmattoury/activity/wonder_1688447903869_qq7u3f.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454075/assmattoury/activity/wonder_1688447929880_xnaext.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="h-4 rounded-xl bg-green-500 mt-2 mb-9"></div>

    <!-- /////////////// -->
    <h2 class="text-yellow-300 scroll-animation">Chansons et comptines :</h2>
    <p class="text-white scroll-animation">
      Je chante des chansons et récite des comptines avec les enfants. J'utilise
      des gestes et des mouvements pour rendre l'activité plus interactive et
      amusante.
    </p>
    <h3 class="text-green-300 text-center scroll-animation">
      Idéal pour le développement du langage, de la mémoire et une ouverture sur
      le monde.
    </h3>
    <!-- ///////////////////// -->

    <div
      id="custom-controls-gallery"
      class="relative w-full z-0 scroll-animation"
      data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454075/assmattoury/activity/wonder_1688448087834_ipyneb.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-1000 ease-in-out"
          data-carousel-item="active">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454075/assmattoury/activity/wonder_1688448204879_uprwsj.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448446076_gx3zay.jpg"
            class="absolute block max-w-full h-auto -translate-x-1 2 -translate-y-1 2 top-1 2 left-1 2"
            alt=""
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448261050_aamglo.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448358844_drokpk.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="h-4 rounded-xl bg-green-500 mt-2 mb-9 scroll-animation"></div>
    <!-- //////////////// -->
    <h2 class="text-yellow-300 scroll-animation">Parcours d'obstacles :</h2>
    <p class="text-white scroll-animation">
      Petit parcours d'obstacles à l'intérieur ou à l'extérieur en utilisant des
      coussins, des tunnels en tissu, des cerceaux et des chaises.
    </p>
    <h3 class="text-green-300 text-center scroll-animation">
      Les enfants rampent, sautent et grimpent pour développer leur motricité
    </h3>
    <!-- ///////////////////// -->
    <div
      id="custom-controls-gallery"
      class="relative w-full z-0 scroll-animation"
      data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448619746_jbdi1h.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-1000 ease-in-out"
          data-carousel-item="active">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448642866_p75p51.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448520501_hycemp.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448658617_gyjj0i.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 5 -->
      </div>
    </div>
    <div class="h-4 rounded-xl bg-green-500 mt-2 mb-9 scroll-animation"></div>

    <!-- /////////////// -->
    <h2 class="text-yellow-300 scroll-animation">Jeux de manipulation :</h2>
    <p class="text-white scroll-animation">
      Des puzzles simples, des jeux d'encastrement ou des boîtes à forme.
    </p>
    <h3 class="text-green-300 text-center scroll-animation">
      Cela aide les enfants à développer leur coordination œil-main et leurs
      compétences cognitives
    </h3>
    <!-- ///////////////////// -->
    <div
      id="custom-controls-gallery"
      class="relative w-full z-0 scroll-animation"
      data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454077/assmattoury/activity/wonder_1688449043315_hgxdd6.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-1000 ease-in-out"
          data-carousel-item="active">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454077/assmattoury/activity/wonder_1688449063797_pdzlgw.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>

        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454076/assmattoury/activity/wonder_1688448955176_lepkdo.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688454077/assmattoury/activity/wonder_1688449111635_n2wwbs.jpg"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="h-4 rounded-xl bg-green-500 mt-2 mb-9 scroll-animation"></div>
    <!-- /////////////// -->
    <a href="/days" class="text-white no-underline text-right">
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
        Passons maintenant en revue une journée "type"
        <svg
          aria-hidden="true"
          class="w-5 h-5 ml-2 -mr-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        >
      </button>
    </a>
  </article>
</MainLayout>
