---
import MainLayout from '../layouts/MainLayout.astro';
const indemnity = 4;
---

<MainLayout title="Taux horaire">
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
        A vous de jouer en renseignant les champs
      </h1>
    </div>
  </section>
  <article class="format lg:format-lg flex flex-col mx-auto px-2">
    <h3 class="text-yellow-300 text-center">
      Commencez par calculer le nombre de semaine de garde effective sur
      l'année. NE pas comptabiliser vos vacances, vos RTT ...
    </h3>

    <ul class="text-white list-none">
      <li class="text-white">
        Comptez le nombre de semaines de garde. Exemple:

        <strong class="text-xl text-yellow-300"> 44 semaines</strong>
      </li>
      <li class="text-white">
        Comptabiliser les heures de gardes par semaine. Exemple:<strong
          class="text-xl text-yellow-300">
          34 heures</strong
        >
      </li>
      <li class="text-white">
        Taux horaire pratiqué. Exemple:<strong class="text-xl text-yellow-300">
          5€/h</strong
        >
      </li>
    </ul>
    <ul class="text-white list-none bg-green-500 rounded-3xl">
      <li class="text-white">
        <strong class="text-xl text-yellow-300">Le calcule sera:</strong>
      </li>
      <li class="text-white">
        <strong class="text-base text-blue-800"
          >Mensuailisation du salaire = (44 semaines X 34h eures) / 12 mois nous
          donne une moyenne de 125 heure / mois
        </strong>
      </li>
      <li class="text-white">
        <strong class="text-base text-blue-800"
          >Nous multiplions 125 par 5€
        </strong>
      </li>
    </ul>

    <h3 class="text-yellow-300 text-center text-2xl font-bold mt-3">
      Ce qui nous donne 625€
    </h3>
    <section class="flex justify-around">
      <div
        role="status"
        class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2">
        <div
          class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688440418/assmattoury/wonder_1677493588863_hkcmcj.jpg"
            class="h-auto' w-auto rounded-2xl"
            alt="calcul"
          />
        </div>
        <div class="w-full">
          <div>
            <h3
              class="text-yellow-300 lg:pt-24 lg:text-2xl md:pt-24 md:text-2xl">
              Nous avons maintenant tout le nécessaire afin de remplir le
              contrat.
            </h3>
          </div>
        </div>
      </div>
    </section>
    <div>
      <form>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="yearweek-success"
              class="block mb-2 text-sm font-medium text-white"
              >Nombre d'heures de garde Mensuel</label
            >
            <input
              type="number"
              id="yearweekSuccess"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder=""
              min="1"
              max="200"
            />
          </div>
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="hourrate"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Indemnité d'entretien €</label
            >
            <input
              type="number"
              name="dayindem"
              id="dayindem"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              value={indemnity}
              readonly
            />
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="helpcaf"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Selectionner votre aide de la CAF €</label
            >
            <select
              id="helpcaf"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option></option>
              <option>506</option>
              <option>319</option>
              <option>191</option>
              <option>0</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <p id="priceNumber" class="text-white"></p>
  </article>
  <script>
    const yearweekSuccess = document.getElementById('yearweekSuccess');
    const number = yearweekSuccess.value;

    function calculate_price(number) {
      if (number <= 59) {
        return '';
      } else if (number >= 60 && number <= 80) {
        return 5.2;
      } else if (number > 80 && number <= 100) {
        return 4.8;
      } else if (number > 100 && number <= 139) {
        return 4.4;
      } else if (number > 139 && number <= 159) {
        return 4.0;
      } else {
        return 3.9;
      }
    }

    yearweekSuccess.addEventListener('input', () => {
      const newNumber = yearweekSuccess.value;
      const newPrice = calculate_price(newNumber);
      document.getElementById('priceNumber').innerHTML = newPrice;
    });
  </script>
</MainLayout>
