---
import MainLayout from '../layouts/MainLayout.astro';
const indemnity = 3.8;
const workDay = 20;
---

<MainLayout title="Taux horaire">
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around scroll-animation">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20 scroll-animation">
        A vos calculatrices
      </h1>
    </div>
  </section>
  <article
    class="format lg:format-lg flex flex-col mx-auto px-2 scroll-animation">
    <h3 class="text-yellow-300 text-center scroll-animation">
      Commencez par calculer le nombre de semaines de garde effective sur
      l'année. NE pas comptabiliser vos vacances, vos RTT ...
    </h3>

    <ul class="text-white list-none scroll-animation">
      <li class="text-white scroll-animation">
        Comptez le nombre de semaines de garde. Exemple:

        <strong class="text-xl text-yellow-300 scroll-animation">
          44 semaines</strong
        >
      </li>
      <li class="text-white">
        Comptabiliser les heures de garde par semaine. Exemple:<strong
          class="text-xl text-yellow-300">
          34 heures</strong
        >
      </li>
      <li class="text-white scroll-animation">
        Taux horaire pratiqué. Exemple:<strong class="text-xl text-yellow-300">
          5€/h</strong
        >
      </li>
    </ul>
    <ul class="text-white list-none bg-green-500 rounded-3xl scroll-animation">
      <li class="text-white scroll-animation">
        <strong class="text-xl text-yellow-300 scroll-animation"
          >Le calcul sera:</strong
        >
      </li>
      <li class="text-white scroll-animation">
        <strong class="text-base text-blue-800 scroll-animation"
          >Mensuailisation du salaire = (44 semaines X 34h eures) / 12 mois nous
          donne une moyenne de 125 heures / mois
        </strong>
      </li>
      <li class="text-white scroll-animation">
        <strong class="text-base text-blue-800 scroll-animation"
          >Nous multiplions 125 par 5€
        </strong>
      </li>
    </ul>

    <h3
      class="text-yellow-300 text-center text-2xl font-bold mt-3 scroll-animation">
      Ce qui nous donne 625€
    </h3>
    <h3 class="text-yellow-300 text-center text-2xl font-bold mt-3">
      Ce montant sera à déduire des aides de votre CAF
    </h3>
    <section class="flex justify-around scroll-animation">
      <div
        role="status"
        class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2 scroll-animation">
        <div
          class="flex items-center justify-center w-auto h-auto rounded sm:w-96 scroll-animation">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688440418/assmattoury/wonder_1677493588863_hkcmcj.jpg"
            class="h-auto' w-auto rounded-2xl"
            alt="calcul"
          />
        </div>
        <div class="w-full scroll-animation">
          <div>
            <h3
              class="text-yellow-300 lg:pt-24 lg:text-2xl md:pt-24 md:text-2xl scroll-animation">
              Nous avons maintenant tout le nécessaire afin de remplir le
              contrat.
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section class="flex justify-around scroll-animation">
      <form class="bg-blue-500 text-white px-4 py-2 rounded-lg">
        <div class="grid grid-cols-1 gap-4">
          <!-- Utilisation d'une seule colonne -->
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="hours"
              class="block mb-2 text-sm font-medium text-white">
              Heures mensuel
            </label>
            <input
              type="number"
              id="hours"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder=""
              min="0"
              step="1"
              hx-trigger="change"
              hx-post="/calculate"
            />
          </div>
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="helpcaf"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Aide de la CAF €
            </label>
            <select
              id="helpcaf"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              <option></option>
              <option>506</option>
              <option>319</option>
              <option>191</option>
              <option>0</option>
            </select>
          </div>
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="hourrate"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Indemnité d'entretien €
            </label>
            <input
              type="number"
              name="dayindem"
              id="dayindem"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              value="3.8"
              readonly
            />
          </div>
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="hourrate"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Moyenne Nb jours travaillé / Mois
            </label>
            <input
              type="number"
              name="dayindem"
              id="dayindem"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              value=""
            />
          </div>
        </div>
      </form>
      <div class="bg-blue-500 text-white px-4 py-2 rounded-lg">
        <p id="result" hx-target="#result" class="text-white"></p>

        <p id="resulttotal" hx-target="#resulttotal" class="text-white"></p>
      </div>
    </section>
  </article>

  <script>
    // Récupérer les éléments du DOM
    const hoursInput = document.getElementById('hours');
    const helpcafSelect = document.getElementById('helpcaf');
    const resultElement = document.getElementById('result');
    const resultTotalElement = document.getElementById('resulttotal');

    // Gérer le calcul et la mise à jour des résultats
    function calculate() {
      const hours = parseFloat(hoursInput.value);

      let tauxHoraire;

      if (hours >= 160) {
        tauxHoraire = 3.9;
      } else {
        const proportion = (hours - 60) / (160 - 60);
        const tauxMin = 3.9;
        const tauxMax = 5.2;
        tauxHoraire = tauxMax - proportion * (tauxMax - tauxMin);
      }

      const mensuel = tauxHoraire * hours;

      // Mettre à jour les résultats
      resultElement.innerText = `Taux horaire : ${tauxHoraire.toFixed(
        2,
      )} €/heure`;
      resultTotalElement.innerText = `Montant mensuel : ${mensuel.toFixed(
        2,
      )} €`;
    }

    // Appeler calculate() lorsque les champs sont modifiés
    hoursInput.addEventListener('input', calculate);
    helpcafSelect.addEventListener('change', calculate);
  </script>
</MainLayout>
