---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Taux horaire">
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
        A vous de jouer en renseignant les champs sur une base mensuelle
      </h1>
    </div>
  </section>
  <article class="format lg:format-lg flex flex-col mx-auto px-2">
    <script>
      function calculateSalary() {
        const hoursMonth = document.getElementById('hoursMonth').value;
        const daysMonth = document.getElementById('daysMonth').value;
        const indemnity = document.getElementById('indemnity').value;
        const salary = hoursMonth * daysMonth * indemnity;
        document.getElementById('result').innerHTML = salary;
      }
    </script>
  </article>
</MainLayout>
