---
import MainLayout from '../layouts/MainLayout.astro';
const indemnity = 4;
---

<MainLayout title="Taux horaire">
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
        A vous de jouer en renseignant les champs
      </h1>
    </div>
  </section>
  <article class="format lg:format-lg flex flex-col mx-auto px-2">
    <div>
      <form>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="yearweek-success"
              class="block mb-2 text-sm font-medium text-white"
              >Nombre de semaines de garde annuel</label
            >
            <input
              type="number"
              id="yearweek-success"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="48 Maximun"
              min="1"
              max="48"
            />
          </div>
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="helpcaf"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Selectionner votre aide de la CAF</label
            >
            <select
              id="helpcaf"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option></option>
              <option>506€</option>
              <option>319€</option>
              <option>191€</option>
              <option>0€</option>
            </select>
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="hourrate"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Taux horaire appliqué</label
            >
            <input
              type="number"
              name="hourrate"
              id="hourrate"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              value="3"
            />
          </div>
          <div class="relative z-0 w-full mb-6 group">
            <label
              for="hourrate"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Indemnité d'entretien</label
            >
            <input
              type="number"
              name="dayindem"
              id="dayindem"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              value={indemnity}
              readonly
            />
          </div>
        </div>
      </form>
    </div>
  </article>
  <script></script>
</MainLayout>
