---
import MainLayout from '../layouts/MainLayout.astro';
import { BiMailSend } from '@react-icons/all-files/bi/BiMailSend';
import { AiTwotonePhone } from '@react-icons/all-files/ai/AiTwotonePhone';
---

<MainLayout title="Contact">
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
        Contact
      </h1>
    </div>
  </section>

  <section class="flex justify-around">
    <div
      role="status"
      class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start mb-6 mx-2">
      <div
        class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
        <img
          src="https://res.cloudinary.com/dgakih33l/image/upload/v1690289335/wonder_1690052404454_rzo54y.jpg"
          class="h-auto rounded-3xl"
          alt=""
        />
      </div>
      <div class="w-full text-white m-6">
        <div class="text-xl font-bold" <h1>Claire DAZY</div>
        <p class="text-white text-lg">19 Bis rue des casernes</p>
        <p>28310 Toury</p>
        <p class="flex gap-2"><AiTwotonePhone />06 63 31 82 78</p>
        <a href="mailto:claire.dazy@gmail.com" class="flex gap-2">
          <BiMailSend
            className="text-white h-6 w-6 align-middle"
          />claire.dazy@gmail.com
        </a>
        <p>Mariée, et maman de 2 enfants de 10 ans</p>
      </div>
    </div>
  </section>
  <section class="flex justify-around">
    <div
      role="status"
      class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start rounded-3xl p-4 bg-green-500 mb-6">
      <div
        class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
        <img
          src="https://res.cloudinary.com/dgakih33l/image/upload/v1688463059/assmattoury/caf_mtvm4c.jpg"
          class="h-auto rounded-3xl"
          alt=""
        />
      </div>
      <div class="w-full text-white m-6">
        <div class="text-xl font-bold" <h1>Caf d'Eure-et-Loir</div>
        <p class="text-white text-lg">10 Rue Charles Victor Garola</p>
        <p>28000 Chartres</p>
        <p class="flex gap-2"><AiTwotonePhone />32 30</p>
        <a
          href="https://wwwd.caf.fr/wps/portal/caffr/macaf/contactermacaf#/contactcaf"
          class="flex gap-2">
          <BiMailSend className="text-white h-6 w-6 align-middle" />Lien direct
          pour contacter votre CAF
        </a>
      </div>
    </div>
  </section>
  <section class="flex justify-around">
    <div
      role="status"
      class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2 mb-6">
      <div
        class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
        <img
          src="https://res.cloudinary.com/dgakih33l/image/upload/v1688440085/assmattoury/pajemploi_hjza3g.jpg"
          class="h-auto rounded-3xl"
          alt=""
        />
      </div>
      <div class="w-full text-white m-6">
        <div class="text-xl font-bold" <h1>Pajemploi+ URSSAF</div>
        <p class="text-white text-lg">Urssaf service Pajemploi</p>
        <p class="text-white text-lg">TSA 40010</p>
        <p>38046 GRENOBLE CEDEX</p>
        <p class="flex gap-2">
          <AiTwotonePhone />08 06 80 72 53 Prix Appel Local
        </p>
        <a
          href="https://www.pajemploi.urssaf.fr/pajeweb/mail.htm"
          class="flex gap-2">
          <BiMailSend className="text-white h-6 w-6 align-middle" />Lien direct
          vers le formulaire de contact
        </a>
      </div>
    </div>
  </section>
</MainLayout>
