---
import MainLayout from '@layouts/MainLayout.astro';
import hero from '../assets/hero.png';
---

<MainLayout title="Contact">
   <div class="flex justify-around">
      <div>
         <h1
            class="text-4xl lg:text-3xl md:text-2xl sm:text-lg xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start p-8">
            Par Mail
         </h1>
         <!-- <img src={hero} alt="petit nounours" class="h-100" /> -->
      </div>
      <div>
         <p>dqfdeq</p>
      </div>
   </div>
</MainLayout>
