---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Journée type">
   <section
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
      <div class="flex justify-around">
         <h1
            class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-base font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
            Une journée classique
         </h1>
      </div>
   </section>

   <article class="format lg:format-lg flex flex-col mx-auto px-2">
      <h2 class="text-center text-yellow-300">Du matin au soir</h2>
      <section>
         <div>
            <p class="text-white">
               J'accueille les enfants le matin. Je salue les parents et discute
               de la soirée précédente, du repas de midi et du goûter. <br
               />Ensuite, je m'occupe des tâches quotidiennes telles que le
               déjeuner, l'habillage, le pot et le changement de couches. <br
               />Les enfants jouent avec des jouets, nous faisons des activités
               manuelles, lisons ou dansons, en fonction de leur âge et de leur
               humeur. <br />Certains feront la sieste. <br />Arrivé vers midi
               tout le monde se lave les mains et nous partagons un repas
               ensemble. Les plus petits sont nourris en premier, tandis que les
               plus grands peuvent soit apporter leur repas maison, soit
               bénéficier des repas que j'aurais préparé. <br />Après le repas,
               il y a une lecture ou des comptines. Puis la sieste avec un
               changement de couche, une histoire et un lit adapté à leur âge. <br
               />Mileu d'après-midi, les enfants se réveillent en douceur, se
               lavent les mains. Nous nous préparons pour récupérer mes enfants
               à l'école et nous goûtons.<br />
               Ensuite, ils jouent librement dans le jardin ou le salon. Les parents
               reviennent pour récupérer leurs enfants. Je raconte les grands moments
               de cette journée sans oublier et se dire au revoir jusqu'au lendemain.
            </p>
         </div>
      </section>
   </article>
</MainLayout>
