---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Journée type">
  <!-- Balises SEO spécifiques à la page -->
  <title>
    Une journée classique d'accueil chez une assistante maternelle |
    assmattoury.netlify.app/days/
  </title>
  <meta
    name="description"
    content="Découvrez comment se déroule une journée classique chez une assistante maternelle. De l'accueil des enfants le matin jusqu'au moment du départ, les activités, les repas et les moments de jeu sont détaillés. Informations sur les tâches quotidiennes, les repas partagés, les activités ludiques et plus encore."
  />

  <!-- Autres balises SEO génériques ou communes à toutes les pages -->
  <meta
    property="og:title"
    content="Une journée classique d'accueil chez une assistante maternelle | assmattoury.netlify.app/days/"
  />
  <meta
    property="og:description"
    content="Découvrez comment se déroule une journée classique chez une assistante maternelle. De l'accueil des enfants le matin jusqu'au moment du départ, les activités, les repas et les moments de jeu sont détaillés. Informations sur les tâches quotidiennes, les repas partagés, les activités ludiques et plus encore."
  />
  <meta property="og:url" content="https://assmattoury.netlify.app/days/" />

  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-base font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
        Une journée classique
      </h1>
    </div>
  </section>

  <article class="format lg:format-lg flex flex-col mx-auto px-2">
    <h2 class="text-center text-yellow-300">Du matin au soir</h2>
    <section>
      <div>
        <p class="text-white">
          J'accueille les enfants le matin. Je salue les parents et discute de
          la soirée précédente, du repas de midi et du goûter. <br />Ensuite, je
          m'occupe des tâches quotidiennes telles que le déjeuner, l'habillage,
          le pot et le changement de couches. <br />Les enfants jouent avec des
          jouets, nous faisons des activités manuelles, lisons ou dansons, en
          fonction de leur âge et de leur humeur. <br />Certains feront la
          sieste. <br />Arrivé vers midi tout le monde se lave les mains et nous
          partageons un repas ensemble. Les plus petits sont nourris en premier,
          tandis que les plus grands peuvent soit apporter leur repas maison,
          soit bénéficier des repas que j'aurais préparés. <br />Après le repas,
          il y a une lecture ou des comptines. Puis la sieste avec un changement
          de couche, une histoire et un lit adapté à leur âge. <br />Mileu
          d'après-midi, les enfants se réveillent en douceur, se lavent les
          mains. Nous nous préparons pour récupérer mes enfants à l'école et
          nous goûtons.<br />
          Ensuite, ils jouent librement dans le jardin ou le salon. Les parents reviennent
          pour récupérer leurs enfants. Je raconte les grands moments de cette journée
          sans oublier et se dire au revoir jusqu'au lendemain.
        </p>
      </div>
    </section>

    <button
      type="button"
      class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center inline-flex items-center">
      <a href="/start" class="text-white no-underline"
        >Maintenant que vous êtes rassuré, viennent les questions dites
        administratives. Elles semblent insurmontables et peuvent paraitre
        incompréhensibles. Voilà pourquoi je vous propose une approche
        simplifiée du parcours à élaborer</a
      >
      <svg
        aria-hidden="true"
        class="w-5 h-5 ml-2 -mr-1 text-yellow-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
          clip-rule="evenodd"></path></svg
      >
    </button>
  </article>
</MainLayout>
