---
import MainLayout from '../layouts/MainLayout.astro';
const indemnity = 4;
---

<MainLayout title="Entretien">
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
        Les indemnités d'entretien
      </h1>
    </div>
  </section>
  <article class="format lg:format-lg flex flex-col mx-auto px-2">
    <h2 class="text-white text-center">Elles correspondent à..</h2>
    <p class="text-white">
      Une compensation pour les frais liés à l'accueil de l'enfant, les produits
      d'hygiène, l'utilisation des jouets, etc. Le montant de ces indemnités est
      généralement déterminé par accord entre les parents et l'assistante
      maternelle, et il sera fixé par jour de présence de l'enfant.
    </p>
    <section class="flex justify-around">
      <div
        role="status"
        class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start">
        <div class="w-auto h-auto sm:w-96">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688657523/wonder_1688637062660_gnybw5.jpg"
            class="h-auto w-auto rounded-xl"
            alt="une famille nounours"
          />
        </div>

        <section>
          <div class="flex justify-center items-center">
            <a
              class="block justify-center align-middle w-60 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-pink-600 lg:mt-10 md:mt-10 sm:mt-0">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-center no-underline">
                Indemnité d'entretien par jour de présence.
              </h5>
              <ul
                class="font-normal text-gray-700 dark:text-yellow-400 list-none">
                <li class="text-3xl font-bold">
                  {indemnity}€ / jour
                </li>
              </ul>
            </a>
          </div>
        </section>
      </div>
    </section>
    <section class="format lg:format-lg flex flex-col mx-auto px-2">
      <a href="/calculate" class="text-white no-underline text-right"
        ><button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
          Evaluez maintenant vos dépenses

          <svg
            aria-hidden="true"
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </button></a
      >
    </section>
  </article>
</MainLayout>
