---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
---

<MainLayout title="Assistante Maternelle à Toury">
   <main class="container"></main>
   <Hero />
</MainLayout>
