---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
---

<MainLayout title="Dropdown navigation">
   <main class="container"></main>
   <Hero />
</MainLayout>
