---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Livret d'acceuil">
   <h1
      class="text-4xl lg:text-3xl md:text-2xl sm:text-1xl xsm:text-base font-bold filter drop-shadow-sm text-slate-200 text-center">
      Mon livret d'acceuil
   </h1>
</MainLayout>
