---
import MainLayout from '../layouts/MainLayout.astro';
import googlepay from '../assets/googleplay.png';
import applestore from '../assets/applestore.png';
---

<MainLayout title="Pajemploi+">
   <!-- Balises SEO spécifiques à la page -->
   <title>
      Pajemploi+ : Simplifiez vos démarches d'emploi d'une assistante maternelle
      | assmattoury.netlify.app/pajemploi
   </title>
   <meta
      name="description"
      content="Découvrez Pajemploi+, un service pratique pour les parents employeurs et leurs salariés. En adhérant à ce service, vous n'avez qu'une seule démarche mensuelle à effectuer : déclarer le salaire versé à votre salarié. Pajemploi s'occupe ensuite de prélever et de verser le salaire sur le compte bancaire du salarié. Découvrez les vidéos explicatives et l'application smartphone de Pajemploi."
   />

   <!-- Autres balises SEO génériques ou communes à toutes les pages -->
   <meta
      property="og:title"
      content="Pajemploi+ : Simplifiez vos démarches d'emploi d'une assistante maternelle | assmattoury.netlify.app/pajemploi"
   />
   <meta
      property="og:description"
      content="Découvrez Pajemploi+, un service pratique pour les parents employeurs et leurs salariés. En adhérant à ce service, vous n'avez qu'une seule démarche mensuelle à effectuer : déclarer le salaire versé à votre salarié. Pajemploi s'occupe ensuite de prélever et de verser le salaire sur le compte bancaire du salarié. Découvrez les vidéos explicatives et l'application smartphone de Pajemploi."
   />
   <meta
      property="og:url"
      content="https://assmattoury.netlify.app/pajemploi/"
   />

   <section
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
      <div class="flex justify-around">
         <h1
            class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
            Pajemploi+
         </h1>
      </div>
   </section>
   <article class="format lg:format-lg flex flex-col mx-auto px-2">
      <h2 class="text-white text-center">
         L'indispensable pour éviter toute paperasse...
      </h2>
      <p class="text-white">
         Pajemploi + est un service simple et pratique, proposé au parent
         employeur et à son salarié. En adhérant à ce service, vous n’avez plus
         qu’une seule démarche à faire chaque mois : déclarer le salaire versé à
         votre salarié. Pajemploi se charge ensuite de prélever sur votre compte
         bancaire le salaire de votre salarié, après avoir déduit le montant de
         votre CMG, et de le verser sur le compte bancaire de votre salarié.
      </p>
      <h3 class="text-green-300">
         Voici deux vidéos que vous retrouverez sur le site de Pajemploi+
      </h3>

      <h2 class="text-yellow-300 text-center">........</h2>
      <h1 class="text-yellow-300 text-center">Activation du service</h1>

      <div class="flex justify-center items-center">
         <div class="aspect-w-16 aspect-h-9">
            <iframe
               class="h-full w-full"
               src="https://www.youtube.com/embed/jui4Pk_WWgM"
               title="Mon Pajemploi au quotidien, la nouvelle application de l’Urssaf service Pajemploi"
               allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
               allowfullscreen></iframe>
         </div>
      </div>

      <h2 class="text-yellow-300 text-center">........</h2>
      <h1 class="text-yellow-300 text-center">Application Smartphone</h1>
      <div class="flex justify-center items-center">
         <div class="aspect-w-16 aspect-h-9">
            <iframe
               class="h-full w-full"
               src="https://www.youtube.com/embed/2Ne17-0FXaY"
               title="Mon Pajemploi au quotidien, la nouvelle application de l’Urssaf service Pajemploi"
               allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
               allowfullscreen></iframe>
         </div>
      </div>
      <div class="flex justify-center items-center gap-4">
         <a href="https://play.google.com/store/apps/details?id=acoss.paje.mpaq"
            ><img
               src={googlepay}
               alt="Disponible sur Google Play"
               class="rounded-2xl h-10 w-28"
            /></a
         >
         <a
            href="https://apps.apple.com/fr/app/mon-pajemploi-au-quotidien/id1642486161"
            ><img
               src={applestore}
               alt="Disponible sur Google Play"
               class="rounded-2xl h-10 w-28"
            /></a
         >
      </div>
      <section class="format lg:format-lg flex flex-col mx-auto px-2">
         <div
            role="status"
            class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2">
            <div
               class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
               <img
                  src="https://res.cloudinary.com/dgakih33l/image/upload/v1688440085/assmattoury/pajemploi_hjza3g.jpg"
                  class="h-auto rounded-3xl"
                  alt="une famille nounours"
               />
            </div>
            <div class="w-full">
               <div class="">
                  <p class="text-white text-lg">
                     Vous aurez besoin de numéro ...... afin de pouvoir
                     m'identifier et de me déclarer.
                  </p>
               </div>
            </div>
         </div>
      </section>
      <button
         type="button"
         class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
         <a href="/nounou" class="text-white no-underline"
            >Reste la dernière étapes: Le calcul du nombres d'heures mensuel à
            définir afin de mensualisé mon salaires.</a
         >
         <svg
            aria-hidden="true"
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
               fill-rule="evenodd"
               d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
               clip-rule="evenodd"></path></svg
         >
      </button>
   </article>
</MainLayout>
