---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Tarifs">
      <section
            class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <div class="flex justify-around">
                  <h1
                        class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
                        Tarifs
                  </h1>
            </div>
      </section>
      <section class="mt-5 flex justify-around flex-wrap gap-2">
            <a
                  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-blue-800 hover:bg-pink-600">
                  <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Le petit-déjeuner
                  </h5>
                  <ul class="font-normal text-gray-700 dark:text-yellow-400">
                        <li>Un bol chocolaté ou un laitage</li>
                        <li>Un fruit ou un jus de fruit</li>
                        <li>Des céréales ou un gâteau</li>
                        <li>3€ / jour</li>
                  </ul>
            </a>
            <a
                  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-blue-800 hover:bg-pink-600">
                  <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Le déjeuner
                  </h5>
                  <ul class="font-normal text-gray-700 dark:text-yellow-400">
                        <li>Un bol chocolaté ou un laitage</li>
                        <li>Un fruit ou un jus de fruit</li>
                        <li>Des céréales ou un gâteau</li>
                        <li>3.5€ / jour</li>
                  </ul>
            </a>
            <a
                  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-blue-800 hover:bg-pink-600">
                  <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Le goûter
                  </h5>
                  <ul class="font-normal text-gray-700 dark:text-yellow-400">
                        <li>Un bol chocolaté ou un laitage</li>
                        <li>Un fruit ou un jus de fruit</li>
                        <li>Des céréales ou un gâteau</li>
                        <li>1.5€ / jour</li>
                  </ul>
            </a>
            <a
                  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-blue-800 hover:bg-pink-600">
                  <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Le dîner
                  </h5>
                  <ul class="font-normal text-gray-700 dark:text-yellow-400">
                        <li>Un bol chocolaté ou un laitage</li>
                        <li>Un fruit ou un jus de fruit</li>
                        <li>Des céréales ou un gâteau</li>
                        <li>4€ / jour</li>
                  </ul>
            </a>
      </section>
</MainLayout>
