---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Mes tarifs">
      <h1
            class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start p-8">
            Mes tarifs
      </h1>
</MainLayout>
