---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Mes tarifs">
      <h1
            class="text-4xl lg:text-3xl md:text-2xl sm:text-1xl xsm:text-base font-bold filter drop-shadow-sm text-slate-200 text-center">
            Mes tarifs
      </h1>
</MainLayout>
