---
import MainLayout from '../layouts/MainLayout.astro';
import pregnant from '../assets/pregnant.png';
---

<MainLayout title="Vous voila pret">
   <section
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
      <div class="flex justify-around">
         <h1
            class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
            Avant tout ...
         </h1>
      </div>
   </section>
   <article class="format lg:format-lg flex flex-col mx-auto px-2">
      <h1 class="text-white text-center">
         Bienvenue dans le monde de la parentalité !
      </h1>
      <p class="text-white">
         Vous êtes sur le point de devenir parents et vous voulez connaître vos
         droits pour faire garder votre enfant par une assistante maternelle. <br
         />Ne vous inquiétez pas, voici un résumé rapide pour vous aider !
         <br />
         Il y a deux aides à connaître. L'une financière et l'autre administrative.
      </p>
      <h3 class="text-white text-center">
         Le Complément de Libre Choix du Mode de Garde (CMG) et Pajemploi+
      </h3>
      <h2 class="text-yellow-300 text-center">
         Ces aides sont là pour vous soutenir dans le financement et la gestion
         du bulletin de salaire avec l'URSSAF.
      </h2>

      <ul class="text-white list-none">
         <li class="text-white">
            <strong class="text-2xl text-yellow-300">La CAF</strong> : En fonction
            de vos revenus, du nombre d'enfants à charge et du coût de la garde,
            vous recevrez une aide financière.
         </li>
         <li class="text-white">
            <strong class="text-2xl text-yellow-300">Pajemploi+</strong> : Ce service
            permet de confier toutes les démarches liées à la rémunération. Cela
            signifie que vous n'avez pas à vous soucier de calculer les salaires,
            les charges sociales, et de faire les déclarations requises. <br
            />En utilisant Pajemploi+, les parents employeurs peuvent également
            recevoir immédiatement les prestations familiales auxquelles ils ont
            droit, sans attendre.<br /> En résumé, c'est un service qui facilite
            la gestion administrative de l'emploi d'une personne pour la garde de
            vos enfants et vous permet de bénéficier rapidement des prestations familiales.
         </li>
      </ul>

      <section class="flex justify-around">
         <div
            role="status"
            class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2">
            <div
               class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
               <img
                  src="https://res.cloudinary.com/dgakih33l/image/upload/v1688440299/assmattoury/wonder_1688028330331_prfft3.jpg"
                  class="h-auto rounded-3xl"
                  alt="une maman ours"
               />
            </div>
            <div class="w-full">
               <div class="">
                  <Assurez-vous class="text-white text-lg">
                     Ces aides sont là pour vous soutenir dans le financement de
                     la garde de votre enfant. La CAF et Pajemploi sont vos
                     précieux sountiens et guides dans cette aventure. Sur leurs
                     sites internet, vous trouverez toutes les informations
                     nécessaires sur les critères d'éligibilité, les montants et
                     les démarches à suivre.<br />Assurez-vous de remplir les
                     conditions d'éligibilité en fonction de vos revenus, du
                     nombre d'enfants à charge et du coût de la garde...
                  </Assurez-vous>
                  <h3></h3><p></p>
               </div>
            </div>
         </div>
      </section>

      <h3 class="text-yellow-300 text-center">
         Voila vous êtes prêts à partir à l'aventure en toute sérénité !
      </h3>
      <p class="text-white text-center">
         Grâce à vos connaissances sur les aides financières, vous pourrez faire
         garder votre enfant par une assistante maternelle tout en bénéficiant
         du soutien nécessaire. La parentalité est un voyage extraordinaire, et
         vous êtes maintenant prêts à vivre cette expérience magique en toute
         confiance !
      </p>
      <button
         type="button"
         class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
         <a href="/caf" class="text-white no-underline"
            >Commencez par estimer le montant de la CAF avec votre avis
            d'imposition de l'annéé 2022</a
         >
         <svg
            aria-hidden="true"
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
               fill-rule="evenodd"
               d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
               clip-rule="evenodd"></path></svg
         >
      </button>
   </article>
</MainLayout>
