---
const nounou = 'https://top-assmat.com/';
const pajemploi =
  'https://www.pajemploi.urssaf.fr/pajewebinfo/cms/sites/pajewebinfo/accueil/employeur-dassistante-maternelle.html';
const cmg =
  'https://www.caf.fr/allocataires/aides-et-demarches/droits-et-prestations/vie-personnelle/le-complement-de-libre-choix-du-mode-de-garde-cmg';
---

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      ><a href="mailto:laurentrober@@gmail.com" class="hover:underline"
        >© 2023 l-rag</a
      >
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href={pajemploi} class="mr-4 hover:underline md:mr-6">Pajemploi</a>
      </li>
      <li>
        <a href={cmg} class="mr-4 hover:underline md:mr-6">CAF</a>
      </li>
      <li>
        <a href={nounou} class="mr-4 hover:underline md:mr-6">Top-Assmat</a>
      </li>
      <!-- <li>
        <a href={mail} class="hover:underline">Contact</a>
      </li> -->
    </ul>
  </div>
</footer>
