---
const platform = 'nounou-top';
---

<div class="flex justify-center m-8">
   <footer class="text-xl drop-shadow-sm text-slate-200">
      <p>
         Je travail avec <a href={`https://www.${platform}.fr`}>{platform}</a>!
      </p>
   </footer>
</div>
