---
const nounou = 'https://www.nounou-top.fr';
const mail = 'claire.dazy@gmail';
const pajemploi =
   'https://www.pajemploi.urssaf.fr/pajewebinfo/cms/sites/pajewebinfo/accueil/employeur-dassistante-maternelle.html';
const cmg =
   'https://www.caf.fr/allocataires/aides-et-demarches/droits-et-prestations/vie-personnelle/le-complement-de-libre-choix-du-mode-de-garde-cmg';
---

<div class="flex justify-around">
   <footer class="flex m-4 text-sm gap-3 drop-shadow-sm text-slate-200">
      <p class="mb-1">
         Consulter vos aides sur la <a
            class="hover:bg-gray-500 hover:bg-opacity-70 hover:rounded-lg focus:bg-blue-500 focus:bg-opacity-70 focus:rounded-lg transition duration-300 p-1"
            href={cmg}>CAF</a
         >
      </p>
      <p class="mb-1">
         Gestion simplfiée du salaire avec <a
            class="hover:bg-gray-500 hover:bg-opacity-70 hover:rounded-lg focus:bg-blue-500 focus:bg-opacity-70 focus:rounded-lg transition duration-300 p-1"
            href={pajemploi}>Pajemploi+</a
         >
      </p>
      <p class="mb-1">
         Gestion des contrats avec <a
            class="hover:bg-gray-500 hover:bg-opacity-70 hover:rounded-lg focus:bg-blue-500 focus:bg-opacity-70 focus:rounded-lg transition duration-300 p-1"
            href={nounou}>Nounou-Top</a
         >
      </p>
   </footer>
</div>
