---
import '../styles/global.css';
import hero from '../assets/hero.png';
---

<div class="relative h-auto w-auto flex flex-col">
   <div
      class="relative opacity-100 z-20 grid items-center justify-items-center">
      <div class="grid items-center justify-items-center mt-3">
         <h1
            class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-extrabold filter drop-shadow-sm text-slate-200">
            Claire
         </h1>
         <h1
            class="text-4xl lg:text-3xl md:text-2xl sm:text-1xl xsm:text-base font-bold filter drop-shadow-sm text-slate-200 text-center">
            Assistante Maternelle Agrée
         </h1>
         <h1
            class="text-xl lg:text-30 md:text-20 sm:text-5 filter drop-shadow-sm text-slate-200 text-center pb-5">
            TOURY 28310 Eure-et-Loir
         </h1>
         <button></button>
         {
            /* <div></div>
                  <div></div> */
         }
      </div>
      <div>
         <img
            src={hero}
            alt="petit nounours"
            class="duration-700 rotate-0 hover:rotate-12 object-fill cursor-pointer"
         />
      </div>
   </div>
</div>
