---
import '../styles/global.css';
import hero from '../assets/hero.png';
---

<div class="relative h-auto w-auto flex flex-col">
   <div class="relative opacity-100 grid items-center justify-items-center">
      <div class="grid items-center justify-items-center mt-10">
         <h1
            class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-extrabold filter drop-shadow-sm text-slate-200">
            Assistante Maternelle Agréée
         </h1>
         <h2
            class="text-5xl lg:text-4xl md:text-3xl sm:text-2xl xsm:text-1xl font-bold filter drop-shadow-sm text-slate-200 text-center">
            Claire
         </h2>
         <h3
            class="xl:text-xl lg:text-lg md:text-xl sm:text-sm filter drop-shadow-sm text-slate-200 text-center pb-5 pt-5">
            TOURY 28310 Eure-et-Loir
         </h3>
      </div>
      <>
         <img
            src={hero}
            alt="petit nounours"
            class="duration-700 rotate-0 hover:rotate-12 object-fill cursor-pointer"
         />
      </>
   </div>
</div>
