---
import SearchWidget from './SearchWidget.astro';
import Search from './SearchWidget.astro';
---

<nav id="navbar">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center">
      <img
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1688440085/assmattoury/hero_ubeakr.png"
        class="h-14 mr-5"
        alt="Nounours"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Accueil</span
      >
    </a>

    <button
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-pink-500 rounded-lg md:hidden hover:bg-pink-100 focus:outline-none focus:ring-2 ring-pink-200"
      aria-controls="navbar-dropdown"
      aria-expanded="false">
      <svg
        class="w-10 h-10 text-white bg-blue-800 rounded-2xl p-1"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path></svg
      >
    </button>
    <div
      class="hidden w-full md:block md:w-auto font-bold text-xl"
      id="navbar-dropdown">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0">
        <details>
          <summary
            role="button"
            class="hover:text-blue-700 md:p-0 md:w-auto cursor-pointer"
            >Présentation</summary
          >
          <ul class="list-disc px-7 text-sm">
            <li>
              <a
                href="/about"
                class="hover:text-blue-700 md:p-0 md:w-auto cursor-pointer text-base"
                >A propos</a
              >
            </li>
            <li>
              <a
                href="/activity"
                class="hover:text-blue-700 md:p-0 md:w-auto cursor-pointer text-base"
                >Activités</a
              >
            </li>
            <li>
              <a
                href="/days"
                class="hover:text-blue-700 md:p-0 md:w-auto cursor-pointer text-base"
                >Journées Type</a
              >
            </li>
          </ul>
        </details>
        <!-- ///////////////////// -->
        <details>
          <summary
            role="button"
            class="hover:text-blue-700 md:p-0 md:w-auto cursor-pointer rounded-xl"
            >Ressources</summary
          >
          <ul class="list-disc px-7 text-sm">
            <li>
              <a
                href="/start"
                class="block hover:text-blue-700 rounded-lg text-base"
                >Avant tout</a
              >
            </li>
            <li>
              <a
                href="/caf"
                class="block hover:text-blue-700 rounded-lg text-base">CAF</a
              >
            </li>
            <li>
              <a
                href="/pajemploi"
                class="block hover:text-blue-700 rounded-lg text-base"
                >Pajemploi+</a
              >
            </li>
            <li>
              <a
                href="/nounou"
                class="block hover:text-blue-700 rounded-lg text-base"
                >Nounou-top</a
              >
            </li>
          </ul>
        </details>
        <details>
          <summary
            role="button"
            class="hover:text-blue-700 md:p-0 md:w-auto cursor-pointer"
            >Coût</summary
          >
          <ul class="list-disc px-7 text-sm">
            <li>
              <a
                href="/price"
                class="block hover:text-blue-700 rounded-lg text-base"
                >Taux horaires</a
              >
            </li>
            <li>
              <a
                href="/rates"
                class="block hover:text-blue-700 rounded-lg text-base">Repas</a
              >
            </li>
            <li>
              <a
                href="/indemnity"
                class="block hover:text-blue-700 rounded-lg text-base"
                >Indemnités d'entretien</a
              >
            </li>
            <!-- <li>
              <a
                href="/calculate"
                class="block hover:text-blue-700 rounded-lg text-base"
                >Evaluez vos dépenses</a
              >
            </li> -->
          </ul>
        </details>

        <li>
          <a
            href="/faq"
            class="hover:text-blue-700 md:p-0 md:w-auto cursor-pointer">FAQ</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class="hover:text-blue-700 md:p-0 md:w-auto cursor-pointer"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Get the navbar element
  const navbar = document.getElementById('navbar');

  // Initialize the previous scroll position
  let prevScrollpos = window.scrollY;

  // Add an event listener to the window object to detect when the user scrolls
  window.addEventListener('scroll', () => {
    // Get the current scroll position
    const currentScrollPos = window.scrollY;

    // Determine the direction of the scroll
    const isScrollingDown = currentScrollPos > prevScrollpos;

    // Animate the navbar based on the direction of the scroll
    if (isScrollingDown) {
      navbar.style.transform = 'translateY(-100%)';
    } else {
      navbar.style.transform = 'translateY(0)';
    }

    // Update the previous scroll position
    prevScrollpos = currentScrollPos;
  });
</script>
