---
import hero from '../assets/hero.png';
import Hamburger from './Hamburger.astro';
---

<div class="flex justify-between px-5">
   <img src={hero} alt="petit nounours" class="h-24" />
   <div class="nav-links">
      <a href="/">Accueil</a>
      <a href="/about">Présentation</a>
      <a href="/livret">Livret d'accueil</a>
      <a href="/help">Aides</a>
      <a href="/nounou">Partenaires</a>
      <a href="/rates">Tarifs</a>
      <a href="/opinions">Avis</a>
      <a href="/contact">Contactez moi</a>
   </div>
   <Hamburger />
</div>
