<header class="absolute top-7 left-0 right-0 opacity-100 z-50">
   <navi
      class="flex items-center justify-around gap-2 text-xl lg:text-30 md:text-20 sm:text-5 filter drop-shadow-sm text-slate-200 text-center pb-5">
      <a href="/">Accueil</a>
      <a href="/about">Présentation</a>
      <a href="/livret">Livret d'accueil</a>
      <a href="/help">Aides</a>
      <a href="/nounou">Partennaires</a>
      <a href="/rates">Tarifs</a>
      <a href="/opinions">Opinions</a>
      <a href="/contact">Contactez-moi</a>
   </navi>
</header>
