---
import hero from '../assets/hero.png';
import { Icon } from 'astro-icon';
---

<header class="border-b border-gray-600 py-2">
   <div
      class="flex items-center justify-between xl:max-w-7xl xl:mx-auto max-w-full px-[8%]">
      <img src={hero} alt="petit nounours" class="h-24" />

      <nav class="lg:block hidden flex items-center w-auto">
         <ul class="text-base text-slate-100 flex justify-between">
            <li>
               <a class="px-3 py-2 hover:text-gray-800" href="/">Accueil</a>
            </li>
            <li>
               <a class="px-3 py-2 hover:text-gray-800" href="/about"
                  >Présentation</a
               >
            </li>
            <li>
               <a class="px-3 py-2 hover:text-gray-800" href="/livret"
                  >Livret d'accueil</a
               >
            </li>
            <li>
               <a class="px-3 py-2 hover:text-gray-800" href="/help">Aides</a>
            </li>
            <li>
               <a class="px-3 py-2 hover:text-gray-800" href="/nounou"
                  >Partenaires</a
               >
            </li>
            <li>
               <a class="px-3 py-2 hover:text-gray-800" href="/rates">Tarifs</a>
            </li>
            <li>
               <a class="px-3 py-2 hover:text-gray-800" href="/opinions"
                  >Opinions</a
               >
            </li>
            <li>
               <a class="px-2 py-2 hover:text-gray-800" href="/contact"
                  >Contactez moi</a
               >
            </li>
         </ul>
      </nav>

      <iconify-icon
         icon="iconamoon:menu-burger-horizontal"
         width="48"
         class="lg:hidden block h-6 w-6 cursor-pointer"></iconify-icon>
   </div>
</header>
