---
import '@styles/global.css';
import NavBar from '@components/NavBar.astro';
import Footer from '@components/Footer.astro';
/////////
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
    ></script>;

    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
    <script>
      document.querySelector('.hamburger').addEventListener('click', () => {
        document.querySelector('.nav-links').classList.toggle('expanded');
      });
    </script>
  </body>
</html>
